import re

import {{ python_package_import_name }}

# TODO: implement your tests here!


def test_reminder():
    """Reminder to write tests."""
    assert (
        False
    ), "If this test runs it probably means that you have not written your own tests yet 😱 Do it now!"
